.center {
    align-content: center;
    text-align: center;
    font-size: large;
}

.blueBG {
    background-color:#0dcaf0;
}

.shelf-book {
    max-height: 300px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.shelf-book:hover {
    transform: scale(1.07);
    cursor: pointer;
}

img{

    max-height:580px;
    height:auto;
    object-fit: contain;
    margin:auto;
    width:100%;
}


.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230dcaf0' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230dcaf0' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.footer {
    bottom:0;
    position:fixed;
}
